<form role="form">
<div class="form-group">

<label for="title" class="control-label">First Name</label>
<input type="text" ng-model="user.firstname" class="form-control" id="title" placeholder="First Name">


<label for="title" class="control-label">Last Name</label>
<input type="text" ng-model="user.lastname" class="form-control" id="title" placeholder="Last Name">

<label for="title" class="control-label">Age</label>
<input type="text" ng-model="user.age" class="form-control" id="title" placeholder="Age">

</div>
<input type="submit" class="btn btn-primary" ng-click="saveTransaction()" value="Save">
</form>